.userDetails{
    position: relative;
    height:100%;
    width: 5vw;
    margin:0px;
    padding:0px;
    cursor: pointer;
    align-self: center;
    margin-right: 20px;
}
.userIcon{
    position: relative;
    height: 80%;
    width: 80%;
}
.userDetailsPopUp{
    position:absolute;
    height:350px;
    width:200px;
    display: none;
    border: 2px solid rgb(255, 72, 0);
    background-color: white;
    z-index: 1;
    right:20px
}
.userDetails:hover > .userDetailsPopUp{
    display: block;
    cursor: auto;
}

.login-button{
   padding: 10px 20px;
}

