.userDetails{
    position: relative;
    height:100%;
    width: 5vw;
    margin:0px;
    padding:0px;
    cursor: pointer;
    align-self: center;
    margin-right: 20px;
}
.userIcon{
    position: relative;
    height: 80%;
    width: 80%;
}
.userDetailsPopUp{
    position:absolute;
    height:350px;
    width:200px;
    display: none;
    border: 2px solid red;
    background-color: white;
    z-index: 1;
    right:20px;
    animation: heightIn 1s;
}
.userDetails:hover > .userDetailsPopUp{
    display: block;
    cursor: auto;
}

.login-button{
   padding: 10px 20px;
}

.logout-button{
    position: relative;
    top: 80%;
    left: 35%;
 }
 

@keyframes heightIn {
    from { height: 0px; }
      to { height: 350px; }      
}
