.LoginSignUp{
    background-color: white;
    border: 2px solid orangered;
    height: 450px;
    width: 60vw;
    z-index: 5;
    position: absolute;
    top: 20%;
    left: 20%;
}

#close{
    float: right;
    border: none;
    background-color: rgb(250, 40, 40);
    color: white;
    padding: 10px;
    width:5%;
    cursor: pointer;
    position: absolute;
    left:95%;
    z-index: 15;
}
