.Upcomming-Appointments, .Recent-Appointments{
    width: 100%;
    text-align: center;
}



table {
   border: 2px solid black;
   border-radius: 50px;
}

tr:hover{
    background-color: rgb(223, 222, 222);
}



table{
    position: relative;
    left:15%;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
    width: 70%;
}