.MyProfileContainer{
    display: flex;
    justify-content: center;
    border: 20px 0px solid black;
    border-radius: 100px;
}

.left-side-myprofile{
    position: relative;
    width: 50%;
    background-color: rgb(228, 151, 228);
    border-radius: 80px;
}

.left-side-myprofile img{
    position: relative;
    top: 30%;
    left: 30%;
    height: 250px;
}

.FormContainer{
    width:50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}