.OurSpeciality{
    background-color: purple;
    color:white;
}
.special-items-os{
    display: flex;
    align-items: center;
    background-color: white;
    color: red;
    padding: 10px;
    margin-bottom: 20px;
}

.special-items-os img {
    height: 40%;
    width: 40%;
}

.special-items-os h2 {
    position: relative;
    top: 70%;
}

.limit-width{
    position: relative;
    width:50%;
    left: 25%;
}

.TagLine-OS{
    text-align: center;
    padding:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}