
.ServiceContatinerBinder{
 height : 300px;
 position: relative;
 width: 95%;
 margin: 10px 4px;
 box-shadow: 5px 10px 8px 10px grey;
 border-radius: 10px;
 text-align: center;
}

.ServiceContatinerBinder:hover {
    cursor: pointer;
}

.ServiceDetailsContainer{
    visibility: hidden
}

.ServiceContatinerBinder:hover > .ServiceDetailsContainer{
    visibility: visible;
    animation: fadeIn 1s;
    opacity: 0.8;
}


#bookAppointment{
    background-color: purple;
    color:white;
    outline: none;
    margin: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#bookAppointment:hover{
    background-color: rgb(241, 103, 103);
}

#travelmonth{
    
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 0.8;}
}