.NavigationSection ul{
    height:50px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.NavigationSection ul li{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 1px;
    text-decoration: none;
}

.navlink{
    text-decoration: none;
    color: black;
}

.NavigationSection ul .navItem:hover{
    border-bottom: 5px solid red;
    cursor: pointer;
    
}

.activeLink{
    /*background-color: purple;
    color: white;
    border-radius: 10px;*/
    border-bottom: 5px solid red;
}

/*.activeLink > a{
    color: white;
}
*/
